footer {
    width: 100%;
    height: 100px;
    background-color: rgba(30, 30, 30, 0.85);
    text-align: center;
    color: lightgray;
    padding-top: 1px;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    color: whitesmoke;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
}

footer a:hover {
    color: aquamarine;
}