@charset "utf-8";
/* CSS Document */
#bottom {
	width: 1080px;
	height: 380px;
	background-color: #003;
	margin: 0 auto;
	margin-top:10px;
	}
#contactus{
	color: #FFF;
	font-size: 18px;
	width: 100px;
	margin-left: 250px;
	font-family: "微软雅黑";
	font-weight: 400;	
	}
#friendlink{
	color: #FFF;
	font-size: 18px;
	width: 100px;
	margin-left: 378px;
	font-family: "微软雅黑";
	font-weight: 400;
	}
#biaoti{
	color: #FFF;
	font-size: 16px;
	width: 300px;
	margin-left: 175px;
	margin-top: 40px;
	font-family: "微软雅黑";
	font-weight: 400;
	position: absolute;
	}
#address{position:absolute}	
#address ul{
	list-style-type:none;
	margin:0px;
	margin-top:70px;
	}
#address ul li{
	font-size:15px;
	color:#CCC;
	font-family:"微软雅黑";
	line-height:39px;
	margin-left:130px;
	
	}	

#link ul{
	list-style-type:none;
	margin:0px;
	margin-top:30px;
	}
#link ul li{
	font-size:15px;
	color:#CCC;
	font-family:"微软雅黑";
	line-height:39px;
	margin-left:664px;
	
	}	
	
#link ul li a{
	text-decoration:none;
	color:#CCC
	}
.div-inline{display:inline}

#textunder{
	font-size:18px;
	text-align:center;
	font-family:'微软雅黑';
	}
	
#body-bottom{
	width:1080px;
	margin:0 auto;
	background-color:#FFF;
	}

body {
	background-color: #003366;
	background-repeat: repeat-x;
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	color: #050505;
	text-shadow: 1px 0px;
}